HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/pdf/a18fe9f6-4b78-4903-a3bb-4c9fd0e61ff6.pdf
/src/main/resources/pdf/bfc6e1ca-f2a2-482d-8487-75261b41f603.pdf
/src/main/resources/pdf/74d2dcbc-26ee-485c-92f5-30b2fd9ce986.pdf
